@media (max-width: @screen-xs) {
    body{font-size: 8px;}
}
#map {
    width: 100%;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(255,255,255,0.8);
    width:130px;
    padding: 5px;
    font-size:28px;
}